*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
}
body{
    background-color: rgb(190, 190, 241);
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
 nav{
    display: flex;

 }